body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
::selection{
	background: rgba(247, 7, 73, 0.66);
}
.container{
	width: 1000px;
	margin: 0 auto;
}

.big-title{
	color: white;
	font-size: 35px;
	width: 600px;
	line-height: 33px;
	font-weight: 400;
	/* font-family: 'Open Sans', sans-serif; */
}
.top-index-none{
	background: url('images/university-students.jpg');
	padding: 186px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.top-index-none .container{
	width: 1000px;
	margin: 0 auto;
}
.select-uni{
	color: black;
	margin: 78px 0;
	font-size: 22px;
	text-align: center;
}
.select-uni a {
	color: white;
	text-decoration: none;
}