body{
	margin: 0;
	font-family: 'raleway', sans-serif;
	overflow-x: hidden;
}
header {
	width: 100%;
	background: #1f425d;
}
header.scrolled{
	margin-top: 0;
	background-color: rgba(0, 0, 0, 0.45);
	position: fixed;
	height: 0;
	overflow: hidden;
	transition: height 1s;
}
header.scrolled_2 {
	position: fixed;
	top: 0;
	z-index: 1000;
}
.dashboard_sites.scrolled{
	margin-top: 103px;
}
header
.scrolled_header-height{
	height: 59px !important
}
.container{
	width: 71%;
	margin: 0 auto;
}
.nav-bar .left-side{
	display: inline-block;
}
.nav-bar .right-side{
	float: right;
	display: inline-block;
}
.nav-bar li{
	display: inline-block;
}
.nav-bar{
	margin:	0;
	padding: 11px 0px;
}
.nav-bar .link {
	padding: 4px 20px;
	text-decoration: none;
	color: white;
	transition: color 0.5s;
	font-size: 20px;
}
.nav-bar .link:hover{
	color: blue;
	cursor: pointer;
}
.logo_middle-side{
	margin:0 auto;
	display: inline-block;
	margin: 0 auto;        
	width: 120px;        line-height: 40px;    
	color: #FFF;    
	position: absolute;    
	margin-top: 0px;    
	left: 0px;    
	right: 0px;
	font-size: 32px;
}
.logo_middle-side .logo{
	padding: 7px;
	color: white;
}
.cover_one{
	background-image: url('images/laptop-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: -136px;
	overflow: hidden;
	height: 643px;
	background-attachment: fixed;
	transition: 0s;
}
.cover_one.scrolled{
	background-attachment: local;
	background-position-y: -39px !important;
}
.cover_one .container{
	padding: 228px 0 23px 0px;
}
.cover_one .bottom-text{
	text-align: center;
	margin-top: 148px;
}
.cover_one .bottom-text .arrow_down{
	transform: rotate(180deg);
	margin: 0;
	display: inline-block;
	font-size: 36px;
	top: -10px;
	position: relative;
	margin-left: 8px;
	font-family: montserrat;
	text-decoration: none;
}
.cover_one .bottom-text .text{
	font-size: 24px;
	display: inline-block;
	color: white;
	text-decoration: none;
	transition: font-size 1s;
}
.cover_one .bottom-text .text:hover{
	color: rgb(215, 212, 212);
}
.cover_one .bottom-text .arrow_down:hover{
	color: rgb(215, 212, 212);
}





/* BUTTONS */
.btn_red{
	background-color: rgb(245, 102, 102);
	padding: 1px 10px;
	display: inline-block;
	border-radius: 3px;
	color: white;
	border: 1px solid rgb(218, 73, 73);
	transition: background-color 0.5s;
	text-decoration: none;
}
.btn_red:hover{
    background-color: rgb(237, 66, 66);
}
.btn_blue{
	background-color: rgb(34, 133, 252);
	padding: 1px 10px;
	display: inline-block;
	border-radius: 3px;
	color: white;
	border: 1px solid rgb(10, 105, 220);
	transition: background-color 0.5s;
}
.btn_blue:hover{
	background-color: rgb(16, 92, 183);
}
.btn_green{
	background-color: green;
	padding: 1px 10px;
	display: inline-block;
	border-radius: 3px;
	color: white;
	border: 1px solid green;
	transition: background-color 0.5s;
}
.btn_green:hover{
}
.btn_yellow{
	background-color: yellow;
	padding: 1px 10px;
	display: inline-block;
	border-radius: 3px;
	color: white;
	border: 1px solid yellow;
	transition: background-color 0.5s;
}
.btn_yellow:hover{
}

.btn_start-today{
	padding: 15px 27px;
	font-size: 25px;
	margin-top: 9px;
}
/* END*/



.some-templates{
	height: 650px;
	background-color: rgb(80, 126, 199);
}
.some-templates h1{
	font-size: 77px;
	text-align: center;
	padding-top: 74px;
	font-weight: 100;
	color: rgba(0, 0, 0, 0);
	font-family: 'raleway',sans-serif;
	margin: 0;
	transition: color 3s, padding-top 1s;
}
.some-templates .scrolled{
	color: #fff;
	padding-top: 95px;
}
.colored-bars{
	height: 150px;
	overflow: hidden;
	transition: height 1s;
}
.colored-bars.scrolled{
	height: 0;
}
.colored-bar{
	height: 50px;
	width: 100%;
}
.templates-div{
	margin-top: 50px;
}
.templates-div .template{
	background-repeat: no-repeat;
	background-size: 436px;
	background-position: center;
	width: 418px;
	height: 293px;
	display: inline-block;
	border: 3px solid rgb(228, 228, 228);
	border-radius: 12px;
	transition: background-color 0.5s;
}
.templates-div .template_1{
	background-image: url('images/templates/template-1.png');
}
.templates-div .template_2{
	background-image: url('images/templates/browser.png');
}
.top-header{
	padding: 10px;
	background-color: rgb(139, 156, 169);
	height: 114px;
}
.pg_create-new-site{
	background: #4696e5;
	height: 100%;
	position: absolute;
	padding: 90px 0;
	width: 100%;
}
.pg_create-new-site .container{
}
.pg_create-new-site p.welcome-user{
	font-size: 36px;
	margin: 0;
	color: white;
	text-align: center;
}
.pg_create-new-site .step-1_info{
	font-size: 20px;
	color: white;
	text-align: center;
}
.pg_create-new-site .website-types{
	margin-top: 56px;
}
.pg_create-new-site .website-types .website-type {
    background-color: rgb(239, 239, 239);
    padding: 34px;
    display: inline-block;
    margin-right: 20px;
    transition: background-color 0.5s;
    border-radius: 18px;
    width: 232px;
    border-top: 24px solid rgb(211, 210, 210);
}
.pg_create-new-site .website-types .website-type:hover{
    background-color: rgb(215, 212, 212);
}
.pg_create-new-site .website-types .website-type .type_img{
	height: 146px;
	width: 216px;
	background: url('http://happytapper.com/wordpress/happytapper/wp-content/uploads/2013/05/flaticon-photos.png') no-repeat;
	background-size: 160px;
	background-position: center;
	margin-top: 19px;
}
.pg_create-new-site .website-types .website-type .type-p{
	font-size: 33px;
	text-align: center;
	margin: 8px 0 0 0;
}
.pg_create-new-site #slide_one{
	margin-left: 14.5%;
	transition: margin-left 2s;
	position: absolute;
	z-index: 1;
	height: 400px;
}
.pg_create-new-site .slide_two{
	margin-left: 100%;
	transition: margin-left 3s;
	height: 400px;
	position: absolute;
	z-index: 1;
}
.pg_create-new-site h1{
	margin: 0;
	font-size: 29px;
	text-align: center;
	color: white;
	font-weight: 100;
}
.pg_create-new-site .btn_back {
	margin: 0;
	position: absolute;
	top: 0;
	color: white;
	font-size: 25px;
	background-color: rgba(0,0,0,0);
	border: 0;
	padding: 11px 27px 11px 31px;
	transition: color 0.5s;
}
.pg_create-new-site .btn_back:hover p.arrow {
	margin-left: -38px;
}
.pg_create-new-site .btn_back:hover{
	cursor: pointer;
}
.pg_create-new-site .btn_back p.arrow{
	margin: 0;
	display: inline-block;
	margin-left: -33px;
	position: absolute;
	transition: margin-left 0.4s;
}
.pg_create-new-site .btn_back p.text{
	display: inline-block;
	margin: 0;
}
.pg_create-new-site .btn_back:focus{
	outline: 0;
}
.mac-buttons{
    float: left;
	position: absolute;
	
    margin-top: -51px;
	margin-left: -17px;
}
.mac-buttons div{
	width: 12px;
	border-radius: 18px;
	height: 12px;
	float: left;
}
.mac-buttons .red-button{
	background-color: rgb(255, 69, 69);
	margin-right: 2px;
}
.mac-buttons .yellow-button{
	background-color: rgb(245, 225, 90);
	margin-right: 2px;
}
.mac-buttons .green-button{
	background-color: rgb(51, 186, 98);
}
.dashboard_sites{
    width: 621px;
    margin-top: 50px;
    float: left;
}
.dashboard_sites .top-bar{
	background-color: rgb(231, 231, 231);
	padding: 18px 29px;
	font-size: 39px;
	color: rgb(0, 0, 0);
	width: 102%;
	margin-left: -14px;
	box-shadow: -2px 5px 12px rgb(171, 171, 171);
	z-index: 1;
	position: relative;
}
.dashboard_sites .bottom-shelf{
	padding: 1px 28px;
	background-color: rgb(215, 215, 215);
	width: 100%;
}
.dashboard_sites .bottom-shelf .site{
	width: 100%;
	border-bottom: 1px solid rgb(228, 228, 228);
	margin-top: 16px;
}
.dashboard_sites .bottom-shelf .site .site-info{
	margin: 0;
	font-size: 29px;
	display: inline-block;
	border-bottom: 12px;
	width: 520px;
}
.dashboard_sites .bottom-shelf .site .site-info .site-title{
	margin: 0;
	font-size: 29px;
}
.dashboard_sites .bottom-shelf .site .site-info .site-address{
	margin: 0;
	font-size: 23px;
	margin-top: 11px;
}
.dashboard_sites .bottom-shelf .site .edit_btn{
	font-size: 28px;
	float: right;
	display: inline-block;
	font-size: 25px;    padding: 3px 14px;
}
.dashboard_sites .bottom-shelf .site .statistic-info{
	margin: 25px 0 9px 0px;
	display: inline-block;
}
.dashboard_sites.right-angle-triangle{
	width: 0;
	height: 0;
	border-top: 16px solid rgb(231, 231, 231);
	border-left: 16px solid transparent;
	margin-left: -16px;
	position: absolute;
}
.dashboard_sites .bottom-shelf .site .edit_whole_button{
	float: right;
	padding: 0;
	border: 0;
}
.dashboard_sites .bottom-shelf .site .edit_btn {
	float: left;
	display: inline-block;
	font-size: 20px;
	padding: 3px 13px;
	border-right: 0;
	border-radius: 0px;
}
.dashboard_sites .bottom-shelf .site .edit_whole_button .right-side_dropdown{
	float: right;
	display: inline-block;
	font-size: 21px;
	line-height: 0px;
	height: 29px;	
	width: 26px;
	font-family: 'montserrat';
	text-decoration: none;
	color: white;
	background-color: rgb(221, 85, 85);
	border: 1px solid rgb(218, 73, 73);
}
.dashboard_sites .bottom-shelf .site .edit_whole_button .right-side_dropdown .arrowhead-up{
	transform: rotate(180deg);
	margin: 0;
	margin-top: 4px;
}
.dashboard_sites .bottom-shelf .site .dropdown-menu{
	display: none;
	background-color: rgb(236, 161, 161);
	margin-top: 33px;
	width: 200px;
}

div#dropdown-menu {
    margin-top: 49px;
    position: absolute;
    margin-left: -63px;
    z-index: 10;
}
.dashboard_sites .bottom-shelf .site .dropdown-menu.open{
	display: block;
}
.dashboard_sites .bottom-shelf .site .dropdown-menu li{
	margin: 0;
	list-style-type: none;
	padding: 13px;
	font-size: 16px;
	text-align: left;
	font-family: 'raleway', sans-serif;
}
.dashboard_sites .bottom-shelf .site .dropdown-menu li:hover{
	background: rgb(189, 128, 128);
}
.dashboard_sites .top-bar .title{
	margin: 0;
	color: #272626;
	display: inline-block;
	font-size: 39px;
}
.dashboard_sites .top-bar .edit_btn{
	display: inline-block;
	float: right;
	padding: 12px 20px;
	font-size: 18px;
}
.pg_create-new-site .templates{
	margin-top: 69px;
}
.pg_create-new-site .templates .template{
	height: 300px;
	width: 300px;
	margin-left: 10px;
	display: inline-block;
	overflow: hidden;
}
.pg_create-new-site .templates .template img{
	width: 675px;
	height: 205px;
}
.pg_create-new-site .templates .template .bottom-info_bar{
	background-color: rgba(0, 0, 0, 0.34);
	margin-top: -4px;
	padding: 5px 20px;
}
.pg_create-new-site .templates .template .bottom-info_bar .name{
	margin: 0;
	display: inline-block;
	color: white;
	padding: 10px;
	font-size: 20px;
	max-width: 135px;
	margin-top: -4px;
}
.pg_create-new-site .templates .template .bottom-info_bar .live-demo_btn{
	display: inline-block;
	padding: 10px;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	font-size: 17px;
	float: right;
	margin-top: -54px;
	transition: background 0.5s;
}
.pg_create-new-site .templates .template .bottom-info_bar .live-demo_btn:hover{
	background: rgba(255, 255, 255, 0.29);
}
.pg_create-new-site .templates .template .bottom-info_bar .by{
	color: white;
	max-width: 107px;
	padding: 10px;
	font-size: 15px;
	margin: 0;
	margin-top: -11px;
	display: block;
	max-width: 100%;
}
.pg_create-new-site .slide_three{
	margin-left: 100%;
	transition: margin-left 3s;
	height: 400px;
	position: fixed;
	z-index: 1;
}
.pg_create-new-site .slide_three form{
	margin-top: 141px;
	width: 508px;
}
.pg_create-new-site .slide_three .input_site_title{
	padding: 14px 25px;
	font-size: 28px;
	color: rgb(121, 120, 120);
	border-radius: 7px;
	width: 501px;
	box-sizing: border-box;
	border: 1px solid #d7d7d7;
}
.pg_create-new-site .slide_three .input_site_title:focus{
	outline: 0;
}
.pg_create-new-site .slide_three .continue_btn{
	background-color: transparent;
	border: 0;
	color: white;
	margin-top: 65px; */;
}
.pg_create-new-site .slide_three .continue_btn-input{
	padding: 14px 29px 14px 0px;	
	font-size: 26px;
	border-radius: 7px;
	width: 193px;
	margin-top: 5px;
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid #d7d7d7;
	color: white;
	transition: 0.5s linear;
}
.pg_create-new-site .slide_three .continue_btn-input:hover{
	cursor: pointer;
}
.top-bar-ddmenu .up-arrowhead-triangle{
	width: 0;
	height: 0;
	border-bottom: 13px solid rgb(236, 161, 161);
	border-right: 13px solid rgba(255, 255, 255, 0);
	border-left: 13px solid rgba(255, 255, 255, 0);
	margin-top: -14px;
	margin-left: calc(30% + 4px);
}
.top-bar-ddmenu ._bar{
  background-color: rgb(236, 161, 161);
  height: 10px;
  width: 100;
}
.continue_btn:hover p.arrow{
	margin-left: -47px;
}
.continue_btn p.text{
	display: inline-block;
	margin: 0;
}
.continue_btn p.arrow{
	display: inline-block;
	margin: 0;
	transition: margin-left 0.3s;
	margin-left: -52px;
	margin-top: 18px;
	width: 31px;
	font-size: 26px;
	position: absolute;
}
#editor_header{
	height: 53px;
	position: fixed;
	z-index: 10000;
	top: 0;
}
.included_temp_container{
	float: left;
	margin-left: 290px !important;
	transition: margin-left 1s, width 1s;
	width: calc(100% - 290px);
	margin-top: 53px !important;
}
.included_temp_container.full{
	margin-left: 0px !important;
	width: 100%;
}
.editor_side-bar{
	position: fixed;
	height: 100%;
	margin-top: 53px;
	width: 290px;
	background-color: rgb(18, 18, 19);
	transition: width 1s;
	z-index: 100;
}
.editor_side-bar.closed{
	width: 10px;
}
.close_editor_side-bar_button{
	display: inline-block;
	position: fixed;
	margin-left: 290px;
	background-color: red;
	font-size: 23px;
	padding: 6px 10px;
	margin-top: 53px;
	transition: margin-left 1s;
	z-index: 101;
}
.close_editor_side-bar_button:hover{
	cursor: pointer;
}
.close_editor_side-bar_button.closed{
	margin-left: 10px;
}
.close_editor_side-bar_button p{
	margin: 0;
	transition: transform 1s;
}
.close_editor_side-bar_button.closed p{
	transform: rotate(-180deg);
}
#editor_header .logo{
	color: white;
	font-size: 23px;
	margin-left: 16px;
}
#editor_site_pages{
	margin-top: 53px;
}
.row_page{
	border-bottom: 1px solid black;
}
.new_input_click{
	display: block;
}
[contenteditable=true]:focus{
	outline: 1px solid red;
	border-radius: 3px;
}

[contenteditable=true]:hover{
  cursor: text;
}