@media (max-width: 1000px){
	.nav_bar_bar{
		display: none;
	}
	.right_angled_triangle{
		display: none;
	}
	.nav_bar {
		margin-left: 0;
		width: 100%;
	}
	.header .container{
		width: 100%;
	}
	.nav_bar .right {
		margin: 0 auto !important;
		max-width: 87%;
	}
}
@media (max-width: 600px){
	.nav_bar .link{
		display: none;
	}
	.nav_bar .link.home{
		display: inline-block;
	}
	.nav-bar_dropdown{
		display: inline-block;
	}
	.right-side_info {
		display: none;
	}
	.header .dot{
		display: none !important;
	}
	.logo{
		display: none;
	}
	.nav_bar{
		margin-top: 0;
		position: fixed;
		transition: 0s;
		top: 0;
	}
	.nav_bar .right.scrolled {
		width: 100%;
	}
	.mobile-navigation{
		display: block;
	}
	body.active-mobile-nav{
	}
	.container{
		width: 80%;
	}
	.mobile-name-a{
		display: block;
	}
	.mobile-name{
		display: block;
	}
	.services .service{
		width: 100% !important;
	}
	.index_layer-1{
    padding: 20px 0;
    background-color: #FFE7E7;
    background-image: url('images/layer-bottom.png');
    background-size: 550px;
    background-repeat: no-repeat;
    background-repeat-x: repeat;
    height: 400px;
    background-position-x: -277px;
    background-position-y: bottom;
    transition: background-position-x 5s;
	}
	.index_layer-1 h2{
		margin: 0;
		font-size: 29px;
		margin-top: 5px;
		height: 259px;
		font-family: 'open sans', sans-serif;
		color: #6D6D6D;
		font-weight: 100;
		text-align: center;
	}
	.index_layer-1 p{
		width: 0 !important;
		font-family: 'open sans',;
		font-size: 21px;
		color: #272727;
		text-align: center;
		margin: 28px auto;
		height: 140px;
	}
	.index_layer-1 .img-truck{
		background-image: url('images/truck-no-lines.png');
		height: 93px;
		background-repeat: no-repeat;
		background-size: 214px;
		margin-top: -170px;
		position: relative;
		z-index: 10;
		width: 213px;
		transition: margin-left 2s linear;
	}
	.index_layer-1 .img-truck.goToPointA{
		margin-left: 0;
	}
	.index_layer-1 .img-truck.atPointA{
		margin-left: 447px;
		background-position-x: -47px;
		width: 165px;
		transition: none;
	}
	.index_layer-1 .img-truck.goToPointB{
		margin-left: 150px;
		transition: margin-left 2s linear;
		width: 213px;
		background-position-x: center;
	}
	.index_layer-1 .img-truck.atPointB{
		margin-left: 897px;
		background-position-x: -47px;
		width: 165px;
		transition: none;
	}
	.index_layer-1 .img-truck.exitScene{
		margin-left: 350px;
		transition: margin-left 2s linear;
		width: 213px;
		background-position-x: center;
	}
	.index_layer-1 .img-truck.animationEnd{
		transition: none;
		margin-left: -300px;
	}
	.index_layer-1 .pointA{
		height: 168px;
		margin-top: -190px;
		
		margin-left: 22px;
		width: 154px;
		background-image: url('images/pointA.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	.index_layer-1 .pointB{
		height: 168px;
		margin-top: -171px;
		margin-left: 204px;
		width: 154px;
		background-image: url('images/pointB.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	.index_layer-1 .img-packages{
		background-image: url('images/packages.png');
		height: 41px;
		background-repeat: no-repeat;
		background-size: 25px;
		width: 27px;
		background-position: center;
		float: right;
		margin-top: -64px;
		margin-right: 74px;
		display: none;
	}
	.contact-footer .google-map{
		width: 100%;
	}
	.contact-footer .contact-form-div {
		width: 100%;
		position: relative;
		display: block;
		top: 19px;
	}
	.contact-footer.active {
		height: 784px;
	}
	.location-info {
    margin-left: 0;
    float: none;
    margin-top: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 47px !important;
	}
	body{
		margin-top: 64px;
	}
	.title_one{
		font-size: 80px;
		text-align: center;
}
	.title_two{
		font-size: 74px;
	
		text-align: center;
}
	.pg_signin {
		margin-top: -6px;
	}
	.nav_bar .right {
		margin: 0 auto !important;
		max-width: none;
	}
	.signup-input-field.half {
    	width: 100%;
    	box-sizing: border-box;
	}
	.province-signup{
		width: 100% !important;
	}
	.pg_signup {
		margin-top: -6px;
	}
	.index_one {
		margin-top: -6px;
	}
	.index_google-map{
		width: 100%;
	}
	.description{
		text-align: center;
	}
	._step{
	    border: 0;
		display: block;
		text-align: center;
	}
	.left-side-title{
	    width: 100%;
		display: block;
		margin: 3px 0;
		border-radius: 0 !important;
	}
	.table-left-side-input-desc {
		width: 100%;
	}
	.input_place-order {
		width: 100%;
	}
	.right-side-service{
	    margin-left: 0;
		width: 100%;
		margin-top: 15px;
	}
	body.scrolled {
		margin-top: 69px;
	}
	.order-success-div {
		margin: 10px 0;
	}
}