body{
	margin: 0;
}
a{
	text-decoration: none;
}
.header{
    padding: 6px 20px;
    background-color: #384E8C;
}
.sidebar{
	padding: 10px 0;
	background: #363636;
	float: left;
	min-height: 328px;
	border-top-left-radius: 10px;
	box-sizing: border-box;
}
.sidebar li{
	list-style-type: none;
	font-size: 20px;
	color: #B9B9B9;
	border-bottom:1px solid black;
	padding: 10px 40px 10px 20px;
	cursor: pointer;
}
.sidebar li:hover{
	border-left: 4px solid #384E8C;
	background-color: #292929;
	padding: 10px 40px 10px 16px;
}
.content-side{
    
    background-color: #E7E7E7;
	padding: 20px;
    width: 100%;
    margin-top: -4px;
    box-sizing: border-box;
}
.content-side .title{
	font-size: 34px;
    margin: 0;
}
.stat-blocks{
    margin-top: 21px;
}
.stat-blocks .block{
    background-color: #FFFFFF;
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-right: 0px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    transition: background-color 0.5s linear;
    cursor: pointer;
}

.block {}
.stat-blocks .block .number{
	font-size: 49px;
	margin: 0;
}
.stat-blocks .block .name{
    margin: 0;
}
.recent-table{
	display: inline-block;
    margin-top: 25px;
    
	width: 441px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.recent-table .top{
    background-color: #B7B2B2;
    margin: 0;
    text-align: left;
    padding: 10px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.recent-table .bottom{
	width: 100%;
    
	padding: 0px;
    box-sizing: border-box;
    background-color: white;
}
.stat-blocks .block:hover{
	background-color: #EBEBEB;
}
.input1{
    padding: 17px 19px;
    margin-bottom: 6px;
    font-size: 16px;
    width: 68%;
    box-sizing: border-box;
}
textarea.input1{
	resize: none;
	height: 182px;
}
.all-orders-table{
    border-spacing: 0;
    border-collapse: collapse;
}
.logo-name{
    display: inline-block;
    height: 41px;
    margin: 0;
    width: 183px;
}
.nav-bar{
    display: inline-block;
    width: 80%;
    height: 46px;
    padding: 10px 0;
    box-sizing: border-box;
}
.welcome-right{
    display: inline-block;
    margin: 0;
    font-size: 23px;
    float: right;
    color: white;
}
.container{
	margin: 0 107px;
}
.page-div{
    margin: 32px 107px 0 107px;
}
.content-right-side{
    display: inline-block;
}
.content-side-top{
    height: 51px;
    background-color: #DAD6D6;
    border-top-right-radius: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px #CFCDCD;
    padding: 8px 23px;
}
.content-side-top p{
    font-size: 31px;
    margin: 0;
}
.recent-orders-list{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.recent-orders-list tr{
    border-bottom: 1px solid #E0E0E0;
    background-color: white;
    font-size: 20px;
}
.recent-orders-list tr td{
	width: 50%;
    text-align: center;
}
.recent-orders-list .arrow-to-right{
    width: 19px;
}
ul.ul_dropdown{
	transition: height 1s;
	height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
ul#create.active{
	height: 220px;
}
ul#settings.active{
	height: 88px;
}
ul.ul_dropdown li{
    background-color: #696767;
}
p.arrow-right-dropdown{
	margin: 0;
    float: right;
    transform: rotate(0deg);
    transition: transform 0.5s;
}
p.arrow-right-dropdown.active{
	transform: rotate(90deg);
}
.ul_dropdown li:hover{
	background-color: #5D5A5A !important;
    border-left: 4px solid #F32736;
}
.web_text_input {
    height: 15px;
    width: 100%;
    padding: 11px;
    box-sizing: border-box;
    margin: 2px 0;
    font-size: 14px;
}